<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Controle de patio</title>
</head>
<body>
    <h1 class="title">CARS-CONTROL</h1>

    <% if(addCar) {%>
    <section id="addCar">
        <div>
            <h1 >Adicionar Veículo</h1>
            <form action="/createCar" method="post">
                <label for="">Modelo:</label>
                <input type="text" name="carName" id="carName" placeholder="Modelo do veículo" required>
                <div>
                    <label for="">Placa:</label>
                    <input type="text" name="plate" id="plate" placeholder="Placa do veículo" required>
                </div>
                <div>
                    <label for="">Reclamação:</label>
                    <input type="text" name="complaint" id="complaint" style="width: 15rem; height: 1rem;" 
                    placeholder="Reclamação do cliente" required>
                </div><br>
                <label for="">Especialidade:</label>
                <select name="specialty" id="specialty">
                    <option value="Mecanica">Mecanica</option>
                    <option value="Funilaria">Funilaria</option>
                </select>
                <label>Data agendamento:</label>
                <input type="datetime-local" name="date" id="date" required>
                <input type="hidden" value="<%= userName %>" name="userName">
                <label for="">Previsão conclusão:</label>
                <input type="datetime-local" name="forecast" id="forecast" required>
                <button id="addButton" type="submit">Adicionar</button>
            </form>
        </div>
        
    </section>
        <%}%>
    <section class="addUser">
        <div>
            <form action="/createUser" method="post">
                <a href="/carPage/a"><i class="bi bi-x-lg"></i></a>
                <h1>Cadastro De Usuário</h1>
                <label >Usuário:</label>
                <input type="text" name="user" id="user" placeholder="Digite o nome de usuario" required><br>
                <label style="margin-right: .6rem;">Senha:</label>
                <input type="password" name="password" id="password" placeholder="Digite a senha" required><br>
                <label>função:</label>
                <select name="func" id="func" style="margin: .5rem 5.5rem 0 1.4rem" required>
                    <option value="mec">Mecânico</option> <option value="fun">Funileiro</option>
                    <option value="buyer">Comprador</option> <option value="seller">Vendedor</option>
                    <option value="manager">Gerente</option>
                </select><br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </section >
        <% if(details) {%>
            <section class="details"">
                <div><label  for="">Modelo:</label>
                <textarea readonly name="" id="" cols="10" rows="1"><%=model%></textarea></div>
                <div><label for="">Placa:</label>
                <textarea readonly readonly name="" id="" cols="10" rows="1"><%= plate %></textarea></div>
                <div></div><label for="">Reclamação:</label>
                <textarea readonly name="" id="" cols="30" rows="1"><%= complaint %></textarea></div>
                <div><label for="">Previsão conclusão:</label>
                <textarea readonly name="" id="" cols="18" rows="1"><%= forecast %></textarea></div>
                <div><label for="">Status:</label>
                <textarea readonly name="" id="" cols="10" rows="1" ><%= stage %></textarea></div>
                <div class="break"></div>
                <div><label for="">Serviços:</label>
                <textarea readonly placeholder="Serviços" cols="30" rows="5" ><%= date %></textarea></div>
                <div><label for="">Peças:</label>
                <textarea readonly placeholder="peças" cols="30" rows="5"><%= parts %></textarea></div>
                <div><label>Historico:</label>
                <textarea readonly placeholder="Historico" cols="50" rows="5"><%= historic %></textarea></div>
                <div>
                    <a href="/carPage/today/a">Voltar</a>
                    <a href="">Pedir peças <i class="bi bi-wrench-adjustable-circle"></i></a>
                    <a href="/getById/<%=id%>/conclude/forced">Forçar conclusão<i class="bi bi-check-lg"></i></a>
                </div>
    </section>
    <% } %>
    <% if(conclude) {%>
        <section class="modal">
            <div class="card">
                <div style="padding: .5rem;"><a class="close" href="/carPage/a"><i class="bi bi-x"></i></a></div><br>
                <p>Deseja realmente concluir essa etapa?</p><br>
                <hr>
                <div class="confirm">
                    <a class="btnNot" href="/carPage/a">Não</a>
                    <a class="btnYes" href="/conclude/<%=car.id%>/<%=status%>">Sim</a>
                </div>
            </div>
        </section>
    <% } %>
    <section class="dates">
        <a href="/carPage/today/a">Hoje</a>
        <a href="/carPage/date1/a"><%=date1%></a>
        <a href="/carPage/date2/a"><%=date2%></a>
        <a href="/carPage/date3/a"><%=date3%></a>
        <a href="/carPage/date4/a"><%=date4%></a>
        <a href="/carPage/hoje/addCar">Novo veículo</a><br>
        <a href="/carPage/hoje/logout">Sair</a>
        <label style="color: black;"><%=userName%></label>
    </section>
        
    <section class="cars">    
        <ul>
                <% carList.forEach((car) =>{ %>
                    <li><div>
                       <div class="list">
                        <p><%=car.specialty%> <i class="bi bi-tools"></i></p> <p> Veículo: <%= car.carName %> <i class="bi bi-tools"></i></p> 
                        <p> Placa: <%= car.plate %> <i class="bi bi-tools"></i> </p> <p> Status: <%= car.stage%> 
                        <i class="bi bi-tools"></i> </p> <p name="car._id" >Responsavel: <%= car.responsible%></p>
                        </div> 
                        </div>
                    <div class="btnList">
                        <a class="btnDetals" href="/getById/<%=car._id%>/details/<%=car.stage%>" title="Detalhes"><i 
                            class="bi bi-list"></i></a>
                        <a href="/getById/<%=car._id%>/assumed/<%=car.stage%>" title="Assumir"><i 
                            class="bi bi-person-fill-up"></i></a>
                        <a class="btnConclude" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                            title="Cuncluir Etapa"><i class="bi bi-check-lg"></i></a>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>

    <script src="script.js"></script>
</body>
</html>