<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Controle de patio</title>
</head>
<body>
    <a href="">Novo veículo</a>
    <section>
        <h1>inserir Veículo</h1>
        <div id="addCar">
            <form action="/createCar" method="post">
                <label for="">Modelo:</label>
                <input type="text" name="carName" id="carName" placeholder="Modelo do veículo">
                <label for="">Placa:</label>
                <input type="text" name="plate" id="plate" placeholder="Placa do veículo">
                <label for="">Especialidade:</label>
                <select name="specialty" id="specialty">
                    <option value="Mecanica">Mecanica</option>
                    <option value="Funilaria">Funilaria</option>
                </select><br>
                <label for="">Reclamação:</label>
                <input type="text" name="complaint" id="complaint" style="width: 15rem; height: 1rem;" 
                       placeholder="Reclamação do cliente">
                <label for="">Previsão conclusão:</label>
                <input type="datetime-local" name="forecast" id="forecast"><br>
                <label for="">Serviços:</label>
                <input type="text" name="services" id="services" placeholder="Serviços" style="width: 15rem; height: 10rem;">
                <label for="">Peças:</label>
                <input name="parts" id="parts" placeholder="peças" style="width: 15rem; height: 10rem;"><br>
                <input type="hidden" value="<%= userName %>" name="userName">
                <button id="addButton" type="submit">Adicionar</button>
            </form>
        </div>

    </section>
    <section>
        <div>
                <h1>Cadastro De Usuário</h1>
            <form action="/createUser" method="post">
                <label >Usuário</label>
                <input type="text" name="user" id="user" placeholder="Digite o nome de usuario"><br>
                <label >Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a senha"><br>
                <label>função</label>
                <select name="func" id="func" required>
                    <option value="mec">Mecânico</option> <option value="fun">Funileiro</option>
                    <option value="buyer">Comprador</option> <option value="seller">Vendedor</option>
                    <option value="manager">Gerente</option>
                </select><br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </section>
        <% if(details) {%>
            <section style="border: 0.1rem solid; width: 40rem; height: 25rem; background-color: orange;">
                
                <label for="">Modelo:</label>
                <textarea name="" id="" cols="10" rows="1"><%=model%></textarea>
                <label for="">Placa:</label>
                <textarea name="" id="" cols="10" rows="1"><%= plate %></textarea>
                <label for="">Reclamação:</label>
                <textarea name="" id="" cols="30" rows="1"><%= complaint %></textarea><br>
                <label for="">Previsão conclusão:</label>
                <textarea name="" id="" cols="10" rows="1"><%= forecast %></textarea>
                <label for="">Status:</label>
                <textarea name="" id="" cols="10" rows="1"><%= stage %></textarea><br>
                <label for="">Serviços:</label>
                <textarea placeholder="Serviços" cols="30" rows="10" ><%= services %></textarea>
                <label for="">Peças:</label>
                <textarea placeholder="peças" cols="30" rows="10"><%= parts %></textarea><br>
                <label for="">Historico:</label>
                <textarea name="" id="" placeholder="Historico" cols="30" rows="10"><%= historic %></textarea><br>
    </section>
    <a href="/conclude/<%=car._id%>/<%= status %>">aaaaaaaaaa</a>
    <section>    
        <% } %>
        <ul>
            <li>
                <% carList.forEach((car) =>{ %>
                    <li><div>
                        <%=car.specialty%> | Modelo: <%= car.carName %> | Placa: <%= car.plate %> | Status: <%= car.stage%> |
                        Responsavel: <%= car.responsible%> 
                    </div>
                    <div>
                        <a class="btnDetals" href="/getById/<%=car._id%>/details/<%=car.stage%>" title="Detalhes"><i 
                           class="bi bi-list"></i></a>
                        <a class="btnConclude" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                           title="Cuncluir tarefa"><i class="bi bi-check-square"></i></a>
                    </div>
                </li>
                <% }) %>
            </li>
        </ul>
    </section>

    <script src="script.js"></script>
</body>
</html>