<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Controle de patio</title>
</head>
<body>
    <h1 class="title">CARS-CONTROL</h1>
    <a href="">24/03/2023</a>
    <a href="">25/03/2023</a>
    <a href="">26/03/2023</a>
    <section id="addCar">
        <div>
            <h1 >Adicionar Veículo</h1>
            <form action="/createCar" method="post">
                <label for="">Modelo:</label>
                <input type="text" name="carName" id="carName" placeholder="Modelo do veículo">
                <div>
                    <label for="">Placa:</label>
                    <input type="text" name="plate" id="plate" placeholder="Placa do veículo">
                </div>
                <div>
                    <label for="">Reclamação:</label>
                    <input type="text" name="complaint" id="complaint" style="width: 15rem; height: 1rem;" 
                    placeholder="Reclamação do cliente">
                </div>
                <label for="">Especialidade:</label>
                <select name="specialty" id="specialty">
                    <option value="Mecanica">Mecanica</option>
                    <option value="Funilaria">Funilaria</option>
                </select><br>
                <label for="">Previsão conclusão:</label>
                <input type="datetime-local" name="forecast" id="forecast">
                <label for="">Serviços:</label>
                <input type="text" name="services" id="services" placeholder="Serviços" style="width: 15rem; height: 1rem;">
                <label for="">Peças:</label>
                <input name="parts" id="parts" placeholder="peças" style="width: 15rem; height: 1rem;"><br>
                <input type="hidden" value="<%= userName %>" name="userName">
                <button id="addButton" type="submit">Adicionar</button>
            </form>
        </div>
        
    </section>
    <a href="">Novo veículo</a>
    <section style="display: none;">
        <div>
            <h1>Cadastro De Usuário</h1>
            <form action="/createUser" method="post">
                <label >Usuário</label>
                <input type="text" name="user" id="user" placeholder="Digite o nome de usuario"><br>
                <label >Senha</label>
                <input type="password" name="password" id="password" placeholder="Digite a senha"><br>
                <label>função</label>
                <select name="func" id="func" required>
                    <option value="mec">Mecânico</option> <option value="fun">Funileiro</option>
                    <option value="buyer">Comprador</option> <option value="seller">Vendedor</option>
                    <option value="manager">Gerente</option>
                </select><br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </section >
        <% if(details) {%>
            <section class="details"">
                <div><label  for="">Modelo:</label>
                <textarea readonly name="" id="" cols="10" rows="1"><%=model%></textarea></div>
                <div><label for="">Placa:</label>
                <textarea readonly readonly name="" id="" cols="10" rows="1"><%= plate %></textarea></div>
                <div></div><label for="">Reclamação:</label>
                <textarea readonly name="" id="" cols="30" rows="1"><%= complaint %></textarea></div>
                <div><label for="">Previsão conclusão:</label>
                <textarea readonly name="" id="" cols="18" rows="1"><%= forecast %></textarea></div>
                <div><label for="">Status:</label>
                <textarea readonly name="" id="" cols="10" rows="1" ><%= stage %></textarea></div>
                <div class="break"></div>
                <div><label for="">Serviços:</label>
                <textarea readonly placeholder="Serviços" cols="30" rows="5" ><%= services %></textarea></div>
                <div><label for="">Peças:</label>
                <textarea readonly placeholder="peças" cols="30" rows="5"><%= parts %></textarea></div>
                <div><label>Historico:</label>
                <textarea readonly placeholder="Historico" cols="50" rows="5"><%= historic %></textarea></div>
    </section>
    <% } %>
    <% if(conclude) {%>
        <section style="width: 20rem; height: 10rem; border: 2px solid;">
            <div><a href="/carPage">X</a></div>
            <p>Deseja realmente concluir essa tarefa?</p>
            <a href="/carPage">Não</a>
            <a href="/conclude/<%=car._id%>/<%= status %>">Sim</a>
        </section>
    <% } %>
    <section class="cars">    
        <ul>
                <% carList.forEach((car) =>{ %>
                    <li><div>
                       <p class="list">
                        <%=car.specialty%> | Veículo: <%= car.carName %> | Placa: <%= car.plate %> | Status: <%= car.stage%> |
                        Responsavel: <%= car.responsible%>
                        </p> 
                        </div>
                    <div class="btnList">
                        <a class="btnDetals" href="/getById/<%=car._id%>/details/<%=car.stage%>" title="Detalhes"><i 
                           class="bi bi-list"></i></a>
                           <a href="" title="Assumir"><i class="bi bi-person-fill-up"></i></a>
                        <a class="btnConclude" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                           title="Cuncluir tarefa"><i class="bi bi-check-lg"></i></a>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>

    <script src="script.js"></script>
</body>
</html>