<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Controle de patio</title>
</head>
<body>
    <h1 class="title">CARS-CONTROL</h1>
    
    <section class="dates">
        <div class="menuLeft">
            <div>
                <%if(!history) {%>
                <a href="/carPage/today/a">Hoje</a>
                <a href="/carPage/date1/a">Amanhã</a>
                <% if(userFunc != "mec" && userFunc != "fun" && userFunc != "buyer") {%>
                    <a class="btnAdd" href="/carPage/hoje/addCar">Novo veículo</a>
                </div>    
                <div class="menuDates">    
                <a href="/carPage/date2/a"><%=week[1]%></a>
                <a href="/carPage/date3/a"><%=week[2]%></a>
                <a href="/carPage/date4/a"><%=week[3]%></a>
                <% } %>
                <%}else {%><a href="/carPage/today/a">Sair do Historico</a> <%}%>
            </div>
        </div>
        <div class="menuRight">
            <label><%=userName%></label>
            <a class="btnLogout" href="/carPage/hoje/logout">Sair</a>
            <% if(userFunc != "mec" && userFunc != "fun" && userFunc != "buyer") {%>
            <a id="btnMenu"><i id="btnMenu" class="bi bi-list"></i></a>
            <% } %>
        </div>
        
        <div class="togle" id="togle">
            <a href="/carPage/date1/a">Amanhã</a>
            <a href="/carPage/date2/a"><%=week[1]%></a>
            <a href="/carPage/date3/a"><%=week[2]%></a>
            <a href="/carPage/date4/a"><%=week[3]%></a>
            <a href="/carPage/b/historic">Historico de Veículos</a>
            <a class="newUser">Criar Usúario</a>
            <a class="logout" href="/carPage/hoje/logout">Sair</a>
        </div>
        
    </section>

    <% if(userFunc != "mec" && userFunc != "fun" && userFunc != "buyer") {%>
    <section id="<%=addCar%>">
        <div>
            <h1 >Adicionar Veículo</h1>
            <form action="/createCar" method="post">
                <label class="labelNone">Modelo:</label>
                <input type="text" name="carName" id="carName" placeholder="Modelo do veículo" required>
                <div>
                    <label class="labelNone">Placa:</label>
                    <input type="text" name="plate" id="plate" placeholder="Placa" required>
                </div>
                <div>
                    <label class="labelNone">Reclamação:</label>
                    <input type="text" name="complaint" id="complaint" placeholder="Reclamação do cliente" required>
                </div><br>
                <label class="labelShow">Especialidade:</label>
                <select name="specialty" id="specialty">
                    <option value="Mecanica">Mecanica</option>
                    <option value="Funilaria">Funilaria</option>
                </select>
                <label class="labelShow">Data agendamento:</label>
                <input type="datetime-local" name="date" id="date" required>
                <input type="hidden" value="<%= userName %>" name="userName">
                <label class="labelShow">Previsão conclusão:</label>
                <input type="datetime-local" name="forecast" id="forecast" required>
                <div class="btn">
                    <a class="addClose" href="/carPage/today/a">Cancelar</a>
                    <button id="addButton" type="submit">Adicionar</button>
                </div>
            </form>
        </div>
        
    </section>
        <%}%>
    
        
    <section class="addUser">
        <div>
            <form action="/createUser" method="post" autocomplete="off">
                <a href="/carPage/today/a"><i class="bi bi-x-lg"></i></a>
                <h1>Cadastro De Usuário</h1>
                <label >Usuário:</label>
                <input type="text" name="newUser" id="user" placeholder="Digite o nome de usuario" autocomplete="off" required><br>
                <label style="margin-right: .6rem;">Senha:</label>
                <input type="password" name="newPassword" id="password" placeholder="Digite a senha" required><br>
                <label>função:</label>
                <select name="func" id="func" style="margin: .5rem 5.5rem 0 1.4rem" required>
                    <option value="mec">Mecânico</option> <option value="fun">Funileiro</option>
                    <option value="buyer">Comprador</option> <option value="seller">Vendedor</option>
                    <option value="manager">Gerente</option>
                </select><br>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
    </section >
   
        <% if(details) {%>
            <section class="details">
                <div class="detailsTop">
                <div style="margin-left: 0;"><div><label  >Modelo:</label>
                <textarea readonly name="" id="" cols="10" rows="1"><%=model%></textarea></div>
                <div><label >Placa:</label>
                <textareareadonly name="" id="" cols="10" rows="1"><%= plate %></textarea></div></div>
                <div><label ><%if(history){%> Data agendamento: <%}else{%>Previsão:<%}%></label>
                    <textarea readonly cols="15" rows="1"><%if(history){%> <%=date%> <%}else{%> <%=forecast %> <%}%></textarea>
                    <label >Status:</label>
                    <textarea readonly name="" id="" cols="10" rows="1" ><%= stage %></textarea></div>
                    <div><label >Reclamação:</label>
                    <textarea readonly cols="34" rows="1"><%= complaint %></textarea></div>
                </div>
                <div class="bigText">
                <% if(services != "") {%>    
                <div>
                    <label >Serviços:</label>
                    <ul class="ulServices">
                        <% services.forEach((service) =>{%>
                        <li>
                            <%= service %> <a class="btnCheck" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                                title="Cuncluir Etapa"><i class="bi bi-check-lg"></i></a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                <div class="listBreak"></div>
                <% } %>
                <% if(parts != "") {%>
                <div>
                    <label style="margin-right: 1.5rem;" class="lab">Peças:</label>
                    <ul class="ulParts">
                        <% parts.forEach((part) =>{%>
                        <li>
                            <%= part %> <a class="btnCheck" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                                title="Cuncluir Etapa"><i class="bi bi-check-lg"></i></a>
                        </li>
                        <% }) %>
                    </ul>
                </div>
                    <% } %>
                <% if(userFunc != "mec" && userFunc != "fun") { %>
                    <label>Historico:</label>
                    <ul class="<% if(parts != '' && services != '') {%> ulHistoric <%}else{%>ulUnic <%} %>">
                        <% historic.forEach((history) =>{%>
                        <li>
                            <%= history %>
                        </li>
                        <% }) %>
                    </ul>
                    <% } %> 
                </div>
                    <%if(!history) {%>
                <div class="detailBtns">
                    <a href="/carPage/today/a">Fechar</a>
                    <a href="/getById/<%=id%>/parts/<%=car.stage%>">Pedir peças <i class="bi bi-wrench-adjustable-circle"></i></a>
                    <% if(userFunc != "mec" && userFunc != "fun") { %>
                    <a href="/getById/<%=id%>/conclude/forced">Forçar conclusão<i class="bi bi-check-lg"></i></a>
                    <% } %>
                </div>
                <% } %>
            </section>
        <% } %>
    <% if(conclude) {%>
        <section class="modal">
            <div class="card">
                <div style="padding: .5rem;"><a class="close" href="/carPage/today/a"><i class="bi bi-x"></i></a></div><br>
                <p>Deseja realmente concluir essa etapa?</p><br>
                <hr>
                <div class="confirm">
                    <a class="btnNot" href="/carPage/today/a">Não</a>
                    <a class="btnYes" href="/conclude/<%=car.id%>/<%=status%>">Sim</a>
                </div>
            </div>
        </section>
    <% } %>
    <%if(part) { %>
    <section class="modal">
        <form action="/parts/<%=car._id%>" method="post" id="formParts">
            <div class="cardParts">
                <div style="padding: .5rem;"><a class="close" href="/carPage/today/a"><i class="bi bi-x"></i></a></div><br>
                <p>Digite as peças e/ou serviços que deseja incluir:</p><br>
                <input type="text" name="parts" id="parts" placeholder="Peças">
                <button id="includePart" type="button">Incluir</button><br>
                <ul id="listParts"></ul><br>
                <input type="text" name="services" id="services" placeholder="Serviços">    
                <button id="includeService" type="button">Incluir</button>
                <ul id="listServices"></ul>
                <div style="margin-top: .5rem;"><button id="btnSend" type="button">Enviar</button></div>
            </div>
        </form>
    </section>
    <% } %>
        
    <section class="cars">    
        <ul>
                <% carList.forEach((car) =>{ %>
                    <li onclick="location.href='/getById/<%=car._id%>/details/<%=car.stage%>'">
                        <div class="list">
                                <%if(!history) {%><p><%=car.date.substring(11, 16)%> <i class="bi bi-tools"></i></p><%}%>
                                <p><%=car.specialty%> <i class="bi bi-tools"></i></p> <div class="listBreak"></div> 
                                <p class="pNone"> Veículo:&nbsp</p><p> <%= car.carName %> &nbsp;</p> 
                                <p> Placa: <%= car.plate %> <i class="bi bi-tools"></i> </p> <p> Status: <%= car.stage%> 
                        <i class="bi bi-tools"></i> </p><div class="listBreak"></div><%if(!history) {%> <p>Responsavel: 
                            <%= car.responsible%></p><%}else{%> <p>Data Entrega: <%=car.forecast%></p><%}%>
                        </div>
                        <div class="btnList">
                            
                            <%if(!history) {%>        
                                <a href="/getById/<%=car._id%>/parts/<%=car.stage%>" title="Pedir Peças">
                                    <i class="bi bi-wrench-adjustable-circle"></i></a>
                                <a href="/getById/<%=car._id%>/assumed/<%=car.stage%>" title="Assumir"><i 
                                    class="bi bi-person-fill-up"></i></a>
                                <a class="btnConclude" href="/getById/<%= car._id%>/conclude/<%= car.stage %>" 
                                    title="Cuncluir Etapa"><i class="bi bi-check-lg"></i></a>
                                    <% } %>
                    </div>
                </li>
                <% }) %>
        </ul>
    </section>

    <script src="/script.js"></script>
</body>
</html>